html, body {
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFF;
}

/* HEADER */

header nav {
    display: flex;
    height: 8vh;
    background-color: #CA9072;
    color: #FFFFFF;
}

header img {
    margin-right: 47%;
}

nav a {
    list-style: none;
    float: left;
    margin-left: 6vh;
}

/* MAIN */
main > section {
    width: 50%;
    border: 1px solid black;
    float: left;
    height: 60vh;
}

main > section + section {
    display: flex;
    float: right;
    width: 49.5%;
}

/* EDUCATION + EXP */
.exp {
    display: inline-block;
    background-color: #FFDDD2;
    height: 80vh;
    border: 1px solid black;
    width: 50%;
}

/* SKILLS */
.skills {
    display: inline-block;
    background-color: #FFDDD2;
    height: 80vh;
    border: 1px solid black;
    width: 49%;
}


/* PROJECTS */
.projects {
    height: 80vh;
    background-color: #EDF6F9;
    border: 1px solid black;
}