@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Cormorant+Garamond:wght@300&family=Questrial&display=swap');

html, body {
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFF;
    font-family: 'Cormorant Garamond', serif;
}

html h1 {
    font-family: 'Questrial', sans-serif;
}

/* HEADER */

header nav {
    display: flex;
    height: 8vh;
    background-color: #fbe1d7;
}

header img {
    margin-right: 45%;
    padding-left: 1%;
}

nav a {
    list-style: none;
    float: left;
    margin-left: 6vh;
    text-decoration: none;
    color: black;
}

nav a:hover, .btn:hover, .a:hover {
    color: #d09a7d;
}

.btn {
    background-color: black;
    color: white;
    border: none;
    padding: 1vh 3vh;
    margin: 1.5vh;
    font-size: medium;
}

/* MAIN */
.contact {
    display: none;
}

main > section {
    width: 50%;
    float: left;
    height: 65vh;
    background-color: #fbe1d7;
}

#secretvid {
    display: none;
}

main > section + section {
    display: flex;
    float: right;
    width: 50%;
    text-align: right;
}

main section h1 {
    font-size: 60px;
    margin-left: 20vh;
}

main section h3, p {
    margin-left: 20vh;
    font-size: large;
}

.btntwo {
    margin-left: 20vh;
    background-color: black;
    color: white;
    border: none;
    border-radius: 55%;
    padding: 1vh 2vh;
}

.btnthree {
    margin-left: 2vh;
    background-color: black;
    color: white;
    border: none;
    border-radius:50%;
    padding: 1vh 2vh;
}

/* VIDEO */
.myVideo {
    position:relative;
    height: 65vh;
    width: 100%;
}


.exp, .skills, .projects h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

/* SKILLS */
.skills {
    float: right;
    background-color: #d09a7d;
    height: 70vh;
    width: 50%;
    padding: 0;
    margin: 0;
}

/* VIDEO OVERLAY */
.content {
    display: block;
    position: absolute;
    width: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    top: 10;
    margin-bottom: -310px;
    height: 70vh;
  }

/* EXP & EDU */
.exp {
    float: left;
    background-color: #d09a7d;
    height: 70vh;
    width: 50%;
    padding: 0;
    margin: 0;
}

.eduexp {
    position: absolute;
    display: flex;
    margin: auto;
    width: 90%;
}

.secretedu {
    display: none;
}

/* TABS */
.tab {
    overflow: hidden;
    background-color: #d09a7d;
}

/* TAB BTNS */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding-top: 40px;
    transition: 0.3s;
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    font-weight: 900;
    padding-left: 10%;
  }

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }  

.tab button.active {
    color: white;
  } 
  
.tab button:hover {
    color: #fbe1d7;
  }

/* PROJECTS */
.projects {
    display: inline-block;
    width: 100%;
    background-color: #EDF6F9;
}

.projects h3 {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.a {
    text-decoration: none;
    color: #006D77;
}

.grid {
    display: flex;
    margin: auto;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 80% 20%;
    text-align: center;
    gap: 0;
    padding-bottom: 2em;
}

.gridtwo {
    display: flex;
    margin: auto;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 80% 20%;
    text-align: center;
    gap: 0;
    padding-bottom: 2em;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    padding-bottom: 1vh;
    background-color: #eff8fa;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

 /* NAV  */
header nav {
    display: none;
}    

/* MAIN ABOUT ME SECTION */
.contact {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

main > section {
    width: 100%;
    height: 88vh;
}

main section h1 {
    font-size: 40px;
    margin-left: 0px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 3vh;
}

main section h3, p {
    font-size: large;
    margin: 0 25px;
    text-align: center;
    padding-top: 10px;
}

.btntwo, .btnthree {
    margin-left: 20px;
}

/* MAIN PROFILE PIC */
main > section + section {
    display: none;
}

#secretvid {
    display: inline-block;
    width: 100%;
    height: 30vh;
    padding-top: 1vh;
}

.exp, .skills h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color:#EDF6F9;
}

/* SKILLS */
.skills {
    background-color: #d09a7d;
    height: 52vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* VIDEO AND OVERLAY */
.content {
    display: none;
  }

.myVideo {
    display: none;
}  

/* EXP & EDU */
.exp {
    height: 90vh;
    width: 100%;
}

.secretedu {
    display: block;
}

/* TABS FOR EDU AND EXP */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Questrial', sans-serif;
    font-size: 23px;
    font-weight: 900;
    text-align: center;
    padding-top: 0;
    display: inline-block;
  }
}
